<div class="publication">
    <div class="publication__photo">
        <img src="{{ site.imgbaseurl }}{{ include.content.photo }}?w=260&h=260&fit=crop" alt="{{ include.content.title }} - photo">
    </div>
    <div class="publication__info">
        <h3 class="publication__name">{{ include.content.title }}</h3>
        <ul class="publication__position-list">
            {% for position in include.content.positions %}
                <li class="publication__position-item">{{ position }}</li>
            {% endfor %}
        </ul>
        <div class="publication__bio">
            {{ include.content.content | markdownify }}
        </div>
    </div>

</div>