.modal {
    background: $color_white;
    padding:20px;
    text-align:center;

    img {
        max-width:100%;
        max-height:70vh;
    }
}
.modal__caption {
    @include font-size(14px);
    text-align:left;

    margin-top:.5em;
    @include breakpoint(desktop) {
        @include font-size(16px);
    }
}
.modal__caption-heading {
    display:block;
    color:$color_blue;
    font-weight:700;
}